*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-create{
  width: 450px;
}
.task-form{
  display: flex;
  flex-direction: column;
}
.task-label{
  margin: 10px;
  font-size: 18px;
}
.task-input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}
.task-button{
  background-color: green;
  padding: 10px;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  border: 1px solid green;
}