

.courseMainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.card{
  
  width: 350px;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 30px;
  text-align: justify;
  box-sizing: border-box;
  text-align: justify;
  
  
}
.cardDiv{
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding:100px;
}
.cardTitle{
  font-size: 20px;
}
.cardPrice{
  font-style:italic ;
  color: red;
}
.cardDeleteBtn{
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: rebeccapurple;
  color: white;
}
h2{
  font-size: 30px;
}